/* Header banner */
.headerText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#fff;
}
.headerText h1 {
font-size: 3em;
margin-block-start: 0px;
margin-left: 20px;
margin-right: 20px;
}
.headerExperience {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(../assets/city.jpg); 
    height: 50vh;
    background-size: cover;
    background-position: center center;
}
.headerContact {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../assets/sunset.jpg); 
  height: 50vh;
  background-size: cover;
  background-position: center center;
}